@mixin mainFont($fontSize, $lineHeight, $letterSpacing) {
  font-weight: 400;
  font-size: $fontSize;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

@mixin mainFontSemyBold($fontSize, $lineHeight, $letterSpacing) {
  font-weight: 500;
  font-size: $fontSize;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

@mixin mainFontBold($fontSize, $lineHeight, $letterSpacing) {
  font-weight: 700;
  font-size: $fontSize;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

@mixin mainFontUltraBold($fontSize, $lineHeight, $letterSpacing) {
  font-weight: 900;
  font-size: $fontSize;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

%secondaryFont {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  font-style: normal;
}
